body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  height: 250px;
  background: #fff;
  margin: 8px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  padding: 6px 6px;
  margin: 8px 0px;
}

.content {
  background: #e3f4ff;
  padding: 16px 6px;
}

.button-container {
  background: #e3f4ff;
  margin-top: 8px;
  text-align: center;
  padding: 16px 0px;
}

button {
  margin: auto;
  background: white;
  border: 1px solid #eee;
  display: block;
  padding: 8px 24px;
}

* {
  box-sizing: border-box;
}